* { box-sizing: border-box; }
section{
  margin-left: 15.5em;
  margin-right: 21.5em;
}
aside.sidebar{
  overflow: auto;
  border-right: 1px solid #888;
  position: fixed;
  left: 0;
  top: 0;
  width: 15em;
  margin: 0;
  padding: 1em;
  height: 100%;
}
aside.sidebar div.head{
  font-weight: bold;
}
aside.sidebar ul{
  list-style-type: none;
  padding-left: .5em;
}
aside.index{
  overflow: auto;
  position: fixed;
  right: 1em;
  top: 2em;
  width: 20em;
  border: 1px solid #888;
  background: #aaa;
  padding: 1em;
  display: inline-block;
  border-radius: .2em;
}
aside.index div.head{
  font-weight: bold;
}
aside.index ul{
  list-style-type: none;
  padding-left: .5em;
}
hr {
  border: none;
  border-top: 1px solid #888;
}
section code {
  white-space: pre;
  padding: 3px;
  background: #ddd;
  border-radius: 2px;
  color: #000;
}
